* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #121317;
  }

  .estadisticas, .titulo{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .main{
    text-align: center;

  }
  .tarjetas {
    width: 90vw;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-left: 50%;
    margin-top: 150px;
  }
  .container-num {
    width: 27vmin;
    height: 27vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 10px solid #00708b;
  }
  i.count  {
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
  }
  span.num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  span.text {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
  }
  @media screen and (max-width: 1024px) {
    .wrapper {
      width: 80vw;
    }
    .container-num {
      height: 26vmin;
      width: 26vmin;
      font-size: 12px;
    }
  }

  @media screen and (max-width: 810px) {
    .imagen{
      width: 250px;
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      width: 90vw;
      flex-wrap: wrap;
      gap: 30px;
    }
    .container-num {
      width: calc(50% - 40px);
      height: 30vmin;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 670px) {
    .imagen{
      width: 200px;
    }
  }
  @media screen and (max-width: 540px) {
    .imagen{
      width: 150px;
    }
  }
  @media screen and (max-width: 480px) {
    .wrapper {
      gap: 15px;
    }
    .container-num {
      width: 100%;
      height: 25vmin;
      font-size: 8px;
    }
  }
  @media screen and (max-width: 420px) {
    .imagen{
      width: 100px;
    }
  }









